<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <link rel="stylesheet" href="/resources/app.js">
    <link rel="icon" href="/resources/img/logo/with-BG/4.png" type="image/x-icon">
    <title>Inicio</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <div class="logo">
            <img src="/resources/img/logo/without-BG/4b.png" alt="Logo" />
            </div>
            <ul>
                <li><a href="#shop">SHOP</a></li>
                <li><a href="/layout/contact.html">CONTACTO</a></li>
                <li><a href="#contacto">NOSOTROS</a></li>
            </ul>
        </nav>
        <div class="auth-links">
            <a href="/layout/login.html">INICIAR SESIÓN</a>/<a href="/layout/register.html">REGISTRARSE</a>
        </div>
    </header>

    <main>
        <section class="portada">
            <img src="/resources/img/first-img.jpg" alt="Imagen de portada">
        </section>

        <section>
            <div class="products-grid">
                <img src="/resources/img/products/product-1.jpg" alt="">
                <img src="/resources/img/products/product-2.jpg" alt="">
                <img src="/resources/img/products/product-3.jpg" alt="">
                <img src="/resources/img/products/product-4.jpg" alt="">
            </div>
        </section>
    </main>


<footer>

</footer>

</body>
</html>