<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <link rel="stylesheet" href="/resources/app.js">
    <link rel="icon" href="/resources/img/logo/with-BG/4.png" type="image/x-icon">
    <title>Inicio</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <div class="logo">
            <img src="/resources/img/logo/without-BG/4b.png" alt="Logo" />
            </div>
            <ul>
                <li><a href="#shop">SHOP</a></li>
                <li><a href="/layout/contact.html">CONTACTO</a></li>
                <li><a href="#contacto">NOSOTROS</a></li>
            </ul>
        </nav>
        <div class="auth-links">
            <a href="/layout/login.html">INICIAR SESIÓN</a>/<a href="/layout/register.html">REGISTRARSE</a>
        </div>
    </header>

    <main>
        <section class="portada">
            <img src="/resources/img/first-img.jpg" alt="Imagen de portada">
        </section>

        <section id="section-2H">
            <h2>Porque tenemos el mejor estilo</h2>
            <p>Explora nuestros productos en la tienda</p>

            <div class="products-grid">
                <img src="/resources/img/products/product-1.jpg" alt="">
                <img src="/resources/img/products/product-2.jpg" alt="">
                <img src="/resources/img/products/product-3.jpg" alt="">
                <img src="/resources/img/products/product-4.jpg" alt="">
            </div>
        </section>
    </main>
 
    <section id="section-3H">
        <h2>En tendencia</h2>
        <p>Descubre nuestros productos más populares</p> 
        
        <div class="carousel">
            <button class="carousel-btn left-btn">←</button>
           
            <div class="carousel-track">
                <div class="product">
                    <img src="/resources/img/products/item-1.png" alt="Item 1">
                    <div class="product-info">
                        <h3>T-shirt Avenue</h3>
                        <p>$50</p>
                        <a href="/layout/products/product1.html"><button>Ver producto</button></a>
                    </div>
                </div>
                <div class="product">
                    <img src="/resources/img/products/item-2.png" alt="Item 2">
                    <div class="product-info">
                        <h3>Monroe</h3>
                        <p>$75</p>
                        <a href="/layout/products/product2.html"><button>Ver producto</button></a>
                    </div>
                </div>
                <div class="product">
                    <img src="/resources/img/products/item-3.png" alt="Item 2">
                    <div class="product-info">
                        <h3>Avenueve</h3>
                        <p>$90</p>
                        <a href="/layout/products/product3.html"><button>Ver producto</button></a>
                    </div>
                </div>
                <div class="product">
                    <img src="/resources/img/products/item-4.png" alt="Item 2">
                    <div class="product-info">
                        <h3>Ejeas</h3>
                        <p>$60</p>
                        <a href="/layout/products/product4.html"><button>Ver producto</button></a>
                    </div>
                </div>
                <div class="product">
                    <img src="/resources/img/products/item-5.png" alt="Item 2">
                    <div class="product-info">
                        <h3>Mom</h3>
                        <p>$30</p>
                        <a href="/layout/products/product5.html"><button>Ver producto</button></a>
                    </div>
                </div>
                <div class="product">
                    <img src="/resources/img/products/item-6.png" alt="Item 2">
                    <div class="product-info">
                        <h3>Saga</h3>
                        <p>$50</p>
                        <a href="/layout/products/product6.html"><button>Ver producto</button></a>
                    </div>
                </div>
                <div class="product">
                    <img src="/resources/img/products/item-7.png" alt="Item 2">
                    <div class="product-info">
                        <h3>Mali</h3>
                        <p>$45</p>
                        <a href="/layout/products/product7.html"><button>Ver producto</button></a>
                    </div>
                </div>
              
            </div>
            <button class="carousel-btn right-btn">→</button>
        </div>
    </section>    

<footer>

</footer>

</body>
</html>

<script src="/resources/app.js" defer></script>